﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/MainMasterPage.master" AutoEventWireup="true" CodeFile="FastivalBonusView.aspx.cs" Inherits="HRM_UI_FastivalBonusView" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        
    <style>
        table.tablestyle {
            border-collapse: collapse;
            border: 1px solid #8cacbb;
        }

        table {
            text-align: left;
        }

        .FixedHeader {
            position: absolute;
            font-weight: bold;
        }
    </style>

    <div class="content" id="content">
        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>

                <!-- PAGE HEADING -->
                <div class="page-heading">
                    <div class="page-heading__container">
                        <div class="icon"><span class="li-register"></span></div>
                        <span></span>
                        <h1 class="title" style="font-size: 18px; padding-top: 9px;">Festival Bonus View </h1>
                    </div>
                    <div class="page-heading__container float-right d-none d-sm-block">
                        <asp:Button ID="addNewButton" Text="Add New Information" CssClass="btn btn-sm btn-outline-secondary " runat="server" OnClick="companyinfoReloadImageButton_Click" />
                        <asp:Button ID="reloadButton" Text="Refresh" CssClass="btn btn-sm btn-outline-success" runat="server" OnClick="companyInfoNewImageButton_Click" />
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../UI/DashBoard.aspx">All Process </a></li>
                            <li class="breadcrumb-item"><a href="#">Festival Bonus View</a></li>
                        </ol>
                    </nav>
                </div>
                <!-- //END PAGE HEADING -->

                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div id="gridContainer1" style="height: auto; overflow: auto; width: auto; overflow-y: scroll; overflow-x: hidden;">
                                 <asp:GridView ID="loadGridView" runat="server" AutoGenerateColumns="False" 
                                    CssClass="table table-bordered text-center thead-dark" DataKeyNames="FastivalBonusId" 
                                    onrowcommand="loadGridView_RowCommand" >
                                    <Columns>
                                        <asp:BoundField DataField="FestivalYear" HeaderText="Festival Year" />
                                        <asp:BoundField DataField="FestivalName" HeaderText="Festival Name" />
                                        <asp:BoundField DataField="EmpCategoryName" HeaderText="Category Name" />
                                        <asp:BoundField DataField="PaymentDate" HeaderText="Payment Date" 
                                            DataFormatString="{0:dd-MMM-yyyy}" />
                                        <asp:BoundField DataField="BonusApplicableOn" 
                                            HeaderText="Bonus Applicable On" />
                                        <asp:TemplateField HeaderText="Edit">
                                            <ItemTemplate>
                                                <asp:ImageButton ID="editImageButton" runat="server" 
                                                    CommandArgument="<%# Container.DataItemIndex %>" CommandName="EditData" 
                                                    ImageUrl="~/Assets/img/rsz_edit.png" />
                                            </ItemTemplate>
                                        </asp:TemplateField>
                                    </Columns>
                                </asp:GridView>
                            </div>
                        </div>
                    </div>
                </div>
            </ContentTemplate>
        </asp:UpdatePanel>
    </div>
</asp:Content>

