﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TransferEdit.aspx.cs" Inherits="HRM_UI_TransferEdit" %>
<%@ Register TagPrefix="asp" Namespace="AjaxControlToolkit" Assembly="AjaxControlToolkit, Version=16.1.0.0, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <title>Edit</title>
    <link rel="stylesheet" href="../Assets/css/styles2c70.css?v=1.0.3" />
</head>
<body>
    <form id="form2" runat="server">

        <asp:ScriptManager ID="ScriptManager2" runat="server">
        </asp:ScriptManager>

        <div class="content" id="content">
            <div class="page-heading">
                <div class="page-heading__container">
                    <div class="icon"><span class="li-register"></span></div>
                    <span></span>
                    <h1 class="title" style="font-size: 18px; padding-top: 9px;">Transfer Edit </h1>
                </div>
                <div class="page-heading__container float-right d-none d-sm-block">
               </div>
                <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../UI/DashBoard.aspx">Daily Task </a></li>
                            <li class="breadcrumb-item"><a href="#">Transfer Edit</a></li>
                        </ol>
                    </nav>
               </div>
            <!-- //END PAGE HEADING -->
                 <br/>
                  <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <asp:Label ID="MessageLabel" runat="server" Text=""></asp:Label>

                            <div class="form-row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Effective Date </label>
                                        <asp:TextBox ID="effectDateTexBox" runat="server" CssClass="form-control form-control-sm" ></asp:TextBox>
                                        <asp:CalendarExtender ID="effectDate" runat="server" Format="{0:dd-MMM-yyyy}" 
                                            PopupButtonID="imgDate" CssClass="custom" PopupPosition="TopLeft" TargetControlID="effectDateTexBox">
                                        </asp:CalendarExtender>
                                        <asp:ImageButton ID="imgDate" runat="server" 
                                            AlternateText="Click to show calendar" 
                                            ImageUrl="~/Assets/Calendar_scheduleHS.png" TabIndex="4" />
                                        </div>
                                    </div>                                
                                 <div class="col-2">
                                    <div class="form-group">
                                        <label>Employee Code </label>
                                        <asp:TextBox ID="EmpMasterCodeTextBox" runat="server" CssClass="form-control form-control-sm"></asp:TextBox>
                                    </div>
                                </div>
                              <div class="col-3">
                                    <div class="form-group">
                                        <label>Employee&nbsp; Name </label>
                                        <asp:TextBox ID="empNameTexBox" runat="server" CssClass="form-control form-control-sm"></asp:TextBox>
                                    </div>
                                </div>
                             </div>
                           </div>
                          </div>
                        </div>
                       <div class="card">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label>Company Name </label>
                                        <asp:DropDownList ID="comNameDropDownList" runat="server" AutoPostBack="True" 
                                            CssClass="form-control form-control-sm" 
                                            onselectedindexchanged="comNameDropDownList_SelectedIndexChanged">
                                        </asp:DropDownList>
                                    </div>
                                </div>
                               <div class="col-2">
                                    <div class="form-group">
                                        <label>Unit Name </label>
                                        <asp:DropDownList ID="unitNameDropDownList" runat="server" AutoPostBack="True" 
                                            CssClass="form-control form-control-sm">
                                        </asp:DropDownList>
                                    </div>
                                </div>
                               <div class="col-2">
                                    <div class="form-group">
                                        <label>Division Name </label>
                                        <asp:DropDownList ID="divisNamDropDownList" runat="server" AutoPostBack="True" 
                                            CssClass="form-control form-control-sm" 
                                            onselectedindexchanged="divisNamDropDownList_SelectedIndexChanged">
                                        </asp:DropDownList>
                                    </div>
                                </div>
                               <div class="col-2">
                                    <div class="form-group">
                                        <label>Department Name </label>
                                        <asp:DropDownList ID="departmentDropDownList" runat="server" 
                                            AutoPostBack="True" CssClass="form-control form-control-sm" 
                                            onselectedindexchanged="departmentDropDownList_SelectedIndexChanged">
                                        </asp:DropDownList>
                                    </div>
                                </div>
                               <div class="col-2">
                                    <div class="form-group">
                                        <label>Section Name </label>
                                        <asp:DropDownList ID="sectionDropDownList" runat="server" AutoPostBack="True" 
                                            CssClass="form-control form-control-sm">
                                        </asp:DropDownList>
                                    </div>
                                </div>
                            </div>

                             <br/>
                            <br/>
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <asp:Button ID="Button1" Text="Update" CssClass="btn btn-sm btn-info" runat="server" OnClick="updateButton_Click" />
                                        <asp:Button ID="cancelButton" Text="Close" CssClass="btn btn-sm warning" runat="server" OnClick="closeButton_Click" BackColor="#FF9900" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <asp:HiddenField ID="TransferIdHiddenField" runat="server" />
            <asp:HiddenField ID="empIdHiddenField" runat="server" />
            <asp:HiddenField ID="comIdHiddenField" runat="server" />
            <asp:HiddenField ID="secIdHiddenField" runat="server" />
            <asp:HiddenField ID="deptIdHiddenField" runat="server" />
            <asp:HiddenField ID="divIdHiddenField" runat="server" />
            <asp:HiddenField ID="unitIdHiddenField" runat="server" />
            <asp:HiddenField ID="HiddenField1" runat="server" />
        
    </form>

    <!-- IMPORTANT SCRIPTS -->
    <script type="text/javascript" src="../Assets/js/vendors/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- END IMPORTANT SCRIPTS -->
    <!-- THIS PAGE SCRIPTS ONLY -->
    <script type="text/javascript" src="../Assets/js/vendors/moment/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/select2/select2.min.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/raty/jquery.raty.js"></script>
    <!-- //END THIS PAGE SCRIPTS ONLY -->
    <!-- TEMPLATE SCRIPTS -->
    <script type="text/javascript" src="../Assets/js/app.js"></script>
    <script type="text/javascript" src="../Assets/js/plugins.js"></script>
    <script type="text/javascript" src="../Assets/js/demo.js"></script>
    <script type="text/javascript" src="../Assets/js/settings.js"></script>
    <!-- END TEMPLATE SCRIPTS -->
    <!-- THIS PAGE DEMO -->
    <script type="text/javascript" src="../Assets/js/demo_dashboard.js"></script>
    <!-- //THIS PAGE DEMO -->
</body>

</html>
