﻿  .custom .ajax__calendar_container {
background-color: #DEF1F4;
border:solid 1px #77D5F7;
font-size:10px;
font-family:Arial;
margin:1px;
      font-weight: bold;
      width: 175px;
      height: 185px;
}
.custom .ajax__calendar_header {
background-color: #ffffff;
margin-bottom: 4px;
font-size:10px;
    
    background-color: #DEF1F4;
}
.custom .ajax__calendar_title,
.cal_Theme1 .ajax__calendar_next,
.cal_Theme1 .ajax__calendar_prev {
color: #004080;
margin-top: -4px;
}
.custom .ajax__calendar_body {
background-color: #ffffff;
border: solid 1px #77D5F7;
font-size:8px;
margin:1px !important;
padding:1px !important;
   width: 171px;
}
.custom .ajax__calendar_dayname {
text-align:center;
font-weight:bold;
margin-bottom: 1px;
margin-top: 1px;
color: #004080;
font-size:8px;
}
.custom .ajax__calendar_prev, .ajax__calendar_next{z-index:1;}
.custom .ajax__calendar_hover .ajax__calendar_day,
.custom .ajax__calendar_hover .ajax__calendar_month,
.custom .ajax__calendar_hover .ajax__calendar_year,
.custom .ajax__calendar_active {
color: #004080;
font-weight: bold;
background-color: #DEF1F4;
}
.custom .ajax__calendar_today {
font-weight:bold;
 margin-top: -5px;
}
.custom .ajax__calendar_other,
.custom .ajax__calendar_hover .ajax__calendar_today,
.custom .ajax__calendar_hover .ajax__calendar_title {
color: #bbbbbb;

}


.custom .ajax__calendar_day {
            color: #004080 !important;
            text-align: center !important;
            font-size: 10px !important;
        }