﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ExpenseReportViewer.aspx.cs" Inherits="Report_UI_LeaveReportViewer" %>

<%@ Register assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" namespace="CrystalDecisions.Web" tagprefix="CR" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Grade Report</title>
    <link rel="stylesheet" href="../Assets/css/styles2c70.css?v=1.0.3" />

   <script type="text/javascript">
       function Print() {
           var dvReport = document.getElementById("dvReport");
           var frame1 = dvReport.getElementsByTagName("iframe")[0];
           if (navigator.appName.indexOf("Internet Explorer") != -1) {
               frame1.name = frame1.id;
               window.frames[frame1.id].focus();
               window.frames[frame1.id].print();
           }
           else {
               var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
               frameDoc.print();
           }
       }
     </script>

</head>
<body>
    <form id="form2" runat="server">

        <asp:ScriptManager ID="ScriptManager2" runat="server">
        </asp:ScriptManager>

        <div class="content" id="content">
         <asp:UpdatePanel ID="UpdatePanel1" runat="server">
            <ContentTemplate>
            <!-- //END PAGE HEADING -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">                       
                        <div class="form-row">
                            <div class="col-12">
                                <div style="overflow: scroll; height: auto;">
                                   <CR:CrystalReportViewer ID="crvLeaveRpt" runat="server" 
                                   AutoDataBind="true" EnableDatabaseLogonPrompt="False" 
                                   EnableParameterPrompt="False" ReuseParameterValuesOnRefresh="True" 
                                   ToolPanelView="None" ondisposed="crvLeaveRpt_Disposed" 
                                   onunload="crvLeaveRpt_Unload" />
                                </div>
                            </div>
                        </div>  

                        <div class="form-row">
                            <div class="col-6">
                                <div class="form-group">
                                    <asp:Button ID="Button1" Text="Close" CssClass="btn btn-sm btn-info" runat="server" OnClick="closeButton_Click" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </ContentTemplate>
            </asp:UpdatePanel>
        </div>
    </form>

    <!-- IMPORTANT SCRIPTS -->
    <script type="text/javascript" src="../Assets/js/vendors/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- END IMPORTANT SCRIPTS -->
    <!-- THIS PAGE SCRIPTS ONLY -->
    <script type="text/javascript" src="../Assets/js/vendors/moment/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/select2/select2.min.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="../Assets/js/vendors/raty/jquery.raty.js"></script>
    <!-- //END THIS PAGE SCRIPTS ONLY -->
    <!-- TEMPLATE SCRIPTS -->
    <script type="text/javascript" src="../Assets/js/app.js"></script>
    <script type="text/javascript" src="../Assets/js/plugins.js"></script>
    <script type="text/javascript" src="../Assets/js/demo.js"></script>
    <script type="text/javascript" src="../Assets/js/settings.js"></script>
    <!-- END TEMPLATE SCRIPTS -->
    <!-- THIS PAGE DEMO -->
    <script type="text/javascript" src="../Assets/js/demo_dashboard.js"></script>
    <!-- //THIS PAGE DEMO -->
</body>

</html>
