body, html, h1, h2, h3, h4 ,h6, p,
ul, li, th, td{
	margin:0;
	padding:0;
}

.container{
	width: 100%;
	background-size: 100% 100%;
}

.login-box{
	width: 30%;
	background-color:#1A5276;
	padding-top: 30px;
}

.mid{
	text-align:center;
	width: 90%;
	height: 200px;
	margin: 0px auto;
}

.logo{
	width: 200px;
	height: 100px;
	margin: 0 auto;
}

.logo img{
	height: auto;
	width: 100%;
}

/* Brand Style */

.brand {
	color:#FFF;
}

.brand h2 > span {
	color:#D32F2F;
}


/* Input Panel Style Hare */

.input-panel{
	margin: 20px auto 20px auto;
	width: 80%;
}

.panel-box{
	width: 80%;
	margin: 30px auto;
	border-radius: 5px;
	border: 1px solid #FFF;
	padding: 30px 30px;
}

.panel-box .panel{
	width: 100%;
	text-align:left;
	margin: 10px 0px;
}

.panel-box .panel label{
	color:#FFF;
	font-size: 18px;
	display:block;
	padding: 5px 0;
}

.panel-box .panel .input,
.panel-box .panel .input
{
	width: 100%;
	height: 30px;
	border:none;
	border-radius: 5px;
	padding: 4px 5px;
	
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    box-sizing: border-box;
}


.panel-box .panel .box{
	width: 47%;
	display:inline-block;
	position:relative;
}


.panel-box .panel .box .checkbox{
	position:absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: #eee;
	cursor: pointer;
}

.panel-box .panel .box span{
	font-size: 15px;
	color:#fff;
	margin-left:22px;
}

.panel-box .panel .box .link{
	font-size: 16px;
	text-align:right;
	color:#C62828;
}

.button{
	border:none;
	margin-top: 20px;
	height: 30px;
	width: 70%;
	text-align:center;
	background-color: #E53935;
	color:#fff; 
	border-radius: 5px;
	cursor: pointer;
	transition: 1s;
}

.button:hover{
	background-color:#C62828;
	transition: 1s;
}

/* Contact box style */

.contact-box{
	color:#FFF;
}

.contact-box h3, h2, h4{
	font-weight: 500;
}

/* Media Query */

@media only screen and (max-width: 930px) {   
	
	.login-box{
        width: 43%;
    }
}

@media only screen and (max-width: 860px) {   
	
	.login-box{
        width: 100%;
    }
}

